.btn,
a.btn {
	display: inline-block;

	/* height: 51px;
	line-height: 51px; */

	min-height: 51px;
	display: flex;
	justify-content: center;
	align-items: center;
	line-height: 1;

	padding-left: 50px;
	padding-right: 50px;
	background-color: #01996d;
	color: #fff;
	font-size: 20px;
	font-weight: 400;
	border-radius: 4px;
	transition: opacity 0.2s ease;
}

.btn:hover,
a.btn:hover {
	opacity: 0.8;
	color: #fff;
}

.btn-big,
a.btn-big {
	min-height: 65px;
}

@media (max-width: 991px) {
	.btn,
	a.btn {
		min-height: 41px;
		padding-left: 30px;
		padding-right: 30px;
	}
	.btn-big,
	a.btn-big {
		min-height: 55px;
	}
}
