.card {
	background-color: #fff;
	width: 296px;
	border-radius: 4px;
	box-shadow: 0px 3.62249px 18.1125px rgba(165, 165, 165, 0.25);
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 28px 20px 30px;
}

.card-title {
	position: relative;
	font-weight: 600;
	font-size: 14px;
	line-height: 1;
	padding-bottom: 12px;
	margin-bottom: 13px;
}

.card-title::after {
	content: '';
	position: absolute;
	background-color: #000;
	height: 0.75px;
	left: -7px;
	right: -7px;
	bottom: 0px;
}

.card-avatar {
	margin-bottom: 25px;
}

.card-contents {
	text-align: left;
	padding-left: 6px;
}

.card-contents-title {
	font-family: 'Georgia', serif;
	font-size: 16px;
	margin-bottom: 22px;
	font-weight: 700;
}

.card ul {
	font-size: 10.62px;
	list-style-type: disc;
	list-style-position: inside;
}

.card ul li + li {
	margin-top: 20px;
}

@media (max-width: 500px) {

	.card {
		max-width: 296px;
	}
}
