.footer {
	padding: 104px 0 144px;
	background-color: #245852;
	color: #fff;
}



.footer-logo + * {
	margin-top: 74px;
}

.footer-nav {
	font-size: 25px;
	font-weight: 600;
}

.footer-nav li + li {
	margin-top: 60px;
}

.footer-nav a {
	transition: opacity 0.2s ease;
}

.footer-nav a:hover {
	opacity: 0.8;
}

@media (max-width: 1399px) {
	.footer {
		padding: 80px 0 100px;
	}
	.footer-logo + * {
		margin-top: 50px;
	}
	.footer-nav {
		font-size: 22px;
	}
	.footer-nav li + li {
		margin-top: 40px;
	}
}

@media (max-width: 991px) {
}

@media (max-width: 500px) {
	.footer {
		padding: 40px 0 60px;
	}
	.footer-logo + * {
		margin-top: 40px;
	}
	.footer-nav {
		font-size: 18px;
	}
	.footer-nav li + li {
		margin-top: 30px;
	}
}
